# Core Python libs
pandas
numpy
matplotlib
seaborn

# Machine Learning
scikit-learn

# Web
django
django-celery-beat>=2.5
whitenoise

# Database
sqlalchemy
psycopg2-binary
python-dotenv

# Web scraping
scrapy
itemadapter
selenium
webdriver-manager

# Spark
pyspark

# Geolocation
geopy

# Celery & broker
redis

# WSGI Server (optional production)
gunicorn
